/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: #E3E5E7;
}

section.main {
  background: white;
  padding: 2em;
  max-width: 700px;
  margin: 2em auto;
}

section.main h1 {
  margin: 0.25em 0 1em;
}

dl {
  margin: 0 0 1.5em;
  padding: 0 0 0.5em;
  border-bottom: 1px solid #EEE
}

dt {
  font-size: 1.5em;
  margin: 0 0 0.25em;
  font-weight: normal;
}

.comment dt {
  font-size: 1.25em;
  margin: 0 0 0.15em;
}

dd {
  margin: 0 0 1em;
}
