<section class="jumbotron">
  <h2>
    <%= link_to root_path do %>
       <%= image_tag "https://cdn.auth0.com/website/styleguide/getting-started-icon.svg" %>
    <% end %>
  </h2>
  <h1>Auth0 ❤︎ Ruby</h1>
  <a class="btn btn-success btn-lg" href="#">Login</a>
  <a class="btn btn-success btn-lg" href="<%= signup_path %>">Signup</a>
</section>
